
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                   <h5 style="color:white;">Olá, {{user.nome}}<h5>
                </div>
                <div class="col-md-8">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a ui-sref="config" ng-show="mostrar.config">Configuração</a></li>
                            <li><a ui-sref="projetos" ng-show="mostrar.cadastproj">Cadastro de Projetos</a></li>
                            <li><a ui-sref="alteraproj" class="menu-top-active" ng-show="mostrar.alterproj" ng-click="atualizaPag()">Alteração de Projetos</a></li>
                            <li><a ui-sref="relatorio">Relatório</a></li>
                            <li><a ui-sref="login" class="glyphicon glyphicon-log-out"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3> Projetos Cadastrados </h3><br />
                </div>
            </div>
            <div class="row" ng-show="buscar">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tr>
                            <td colspan="4"><h4> Busca </h4></td>
                        </tr>
                        <tr>
                            <td class="col-md-2"><label>Projeto:</label></td>
                            <td class="col-md-3">
                                <input type="text" ng-model="filtroResult.projeto" value="" class="form-control" placeholder="Procurar..." />
                            </td>
                            <td class="col-md-2"><label>Descrição do Projeto:</label></td>
                            <td class="col-md-3">
                                <input type="text" ng-model="filtroResult.descricao" value="" class="form-control" placeholder="Procurar..." />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2"><label>Familia:</label></td>
                            <td class="col-md-3">
                                <select ng-model="filtroResult.familia" class="form-control" ng-options="val for val in selectOptionFamilia() | orderBy:'toString()' "></select>
                            </td>
                            <td class="col-md-2"><label>Região:</label></td>
                            <td class="col-md-3">
                                <select ng-model="filtroResult.regiao" class="form-control">
                                    <option ng-repeat="id in regiao" value="{{id.Regiao_id}}">{{id.Regiao_id}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2"><label>Sistema:</label></td>
                            <td class="col-md-3">
                                <select ng-model="filtroResult.sistema" class="form-control" ng-options="val for val in selectOptionSistema()" ></select>
                            </td>
                            <td><button type="button" ng-click="limparFiltros();" class="btn btn-info">Limpar Filtros</button></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td><td></td>
                            <td><label>Quantidade de itens:</label></td>
                            <td class="col-md-1">
                                <select ng-model="filtroResult.qnt_itens" class="form-control">
                                    <option ng-repeat="id in qnt" value="{{id}}">{{id}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" ng-show="mostrar.tabela">
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th ng-click="ordenar('id.projeto')">Projeto</th>
                                <th ng-click="ordenar('id.descricao')">Descrição</th>
                                <th ng-click="ordenar('id.proposta')">Proposta</th>
                                <th ng-click="ordenar('id.classificacao_geral')">Classificação Geral</th>   
                                <th ng-click="ordenar('id.fase')">Fase</th>                                     
                                <th ng-click="ordenar('id.familia')">Familia</th>
                                <th ng-click="ordenar('id.sistema')">Sistema</th>
                                <th ng-click="ordenar('id.valor_total_proj')">Valor Total do Projeto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="id in projeto|filter:{projeto:filtroResult.projeto}|filter:{descricao:filtroResult.descricao}|filter:{sistema:filtroResult.sistema}|filter:{familia:filtroResult.familia}|orderBy:sortKey:reverse|itemsPerPage:filtroResult.qnt_itens" ng-click="alteraProj(id)">
                                <td>{{id.projeto}}</td>
                                <td>{{id.descricao}}</td>
                                <td>{{id.proposta}}</td>
                                <td>{{id.classificacao_geral}}</td>
                                <td>{{id.fase}}</td>
                                <td>{{id.familia}}</td>
                                <td>{{id.sistema}}</td>
                                <td>{{id.valor_total_proj | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
                </div>
            </div>
            <div class="row" ng-show="mostrar.selecao">
                <div class="col-md-12">
                    <h2>Baseline Disponível</h2>
                    <table class="table table-hover size10">
                        <thead>
                            <tr>
                                <td><b>MESES</b></td>
                                <td ng-repeat="date in baseline.data"><b> {{date}} </b></td>
                            </tr>
                        </thead>
                        <tbody>
                             <tr>
                                <td><b>BASELINE</b></td>
                                <td ng-repeat="val in tabelabaseline track by $index"> {{val | currency}} </td>
                            </tr>
                            <tr>
                                <td><b>GASTO</b></td>
                                <td ng-repeat="val in tabelagasto track by $index"> {{val | currency}} </td>
                            </tr>
                            <tr>
                                <td><b>DISPONÍVEL</b></td>
                                <td ng-repeat="val in tabelapag track by $index"> {{val | currency}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-show="mostrar.selecao">
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-responsive">
                        <thead>
                            <th>Projeto</th>
                            <th>Descrição</th>
                            <th>Proposta</th>
                            <th>Classificação Geral</th>   
                            <th>Fase</th>                                     
                            <th>Familia</th>
                            <th>Sistema</th>
                            <th>Valor Total do Projeto</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dados in tabela">
                                <td>{{dados.projeto}}</td>
                                <td>{{dados.descricao}}</td>
                                <td>{{dados.proposta}}</td>
                                <td>{{dados.classificacao_geral}}</td>
                                <td>{{dados.fase}}</td>
                                <td>{{dados.familia}}</td>
                                <td>{{dados.sistema}}</td>
                                <td>{{dados.valor_total_proj | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-show="alterar">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <tr>
                                <td><label>Projeto:</label></td>
                                <td> <input type="text" ng-model="formaltproj.projeto" value="" class="form-control col-md-3" /> </td>
                                <td><label>Descrição do Projeto:</label></td>
                                <td> <input type="text" ng-model="formaltproj.descricao" value="" class="form-control col-md-3" /> </td>
                                <td><label>Proposta:</label></td>
                                <td> <input type="text" ng-model="formaltproj.proposta" value="" class="form-control col-md-3" /> </td>  
                            </tr>
                            <tr>
                                <td><label>Família:</label></td>
                                <td>
                                    <select ng-model="formaltproj.familia" class="form-control">
                                        <option ng-repeat="val in user.familias | orderBy:'toString()'" value="{{val}}">{{val}}</option>
                                    </select>
                                </td>
                                <td><label>Região:</label></td>
                                <td><select ng-model="formaltproj.regiao" ng-options="val for val in selectOptionRegiao()" class="form-control"></select></td>
                                <td><label>Sistema:</label></td>
                                <td><select ng-model="formaltproj.sistema" ng-options="val for val in selectOptionSistemaform()"  class="form-control"></select></td>
                            </tr>
                            <tr>
                                <td><label>Gerente:</label></td>
                                <td><select ng-model="formaltproj.gerente" class="form-control">
                                        <option ng-repeat="id in gerentes" value="{{id.login_user}}">{{id.login_user}}</option>
                                    </select> 
                                </td>
                                <td><label>Fase:</label></td>
                                <td><select ng-model="formaltproj.fase" class="form-control">
                                        <option ng-repeat="id in fase" value="{{id.fase}}">{{id.fase}}</option>
                                    </select> 
                                </td>
                                <td><label>Classificação Geral:</label></td>
                                <td><select ng-model="formaltproj.classificacao_geral" class="form-control" ng-change="atribuiBaseline2()">
                                        <option ng-repeat="id in classificacao_geral" value="{{id.classgeral_id}}">{{id.classgeral_id}}</option>
                                    </select> 
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-striped">
                            <tr>
                                <td><label>Valor Total:</label></td>
                                <td colspan=2> <input type="text" ng-model="formaltproj.valor_total_proj" class="form-control" ng-disabled="baseline.todos" monetario/> </td>
                                <td></td>
                                <td><span style="color:red">Disponibilidade</span></td>
                            </tr>
                            <tr ng-repeat="meses in formaltproj.meses">    
                                <td><label>Mes/Ano:</label></td>
                                <td> <select ng-model="meses.mes" class="form-control" ng-change="atribuiBaseline($index)" ng-disabled="baseline.data2[$index].desabilitar">
                                        <option ng-repeat="id in baseline.data2" value="{{id.data}}" ng-disabled="id.desabilitar">{{id.data}}</option>
                                    </select> 
                                </td>
                                <td><label>Valor Mes/Ano:</label></td>
                                <td> <input type="number" ng-model="meses.valor" class="form-control" ng-disabled="baseline.data2[$index].desabilitar" monetario/> </td>
                                <td><span style="color:red" data-thousands="." data-decimal="," data-prefix="R$ " id="currency">{{baseline_red[$index] | currency}}</span></td>
                            </tr>   
                        </table>
                        <button type="button" ng-click="ValidaForm();" class="btn btn-info">Salvar</button>
                    </div>
                    <div class="col-md-1">
                        <table class="table table-striped">
                            <tr>    
                                <td><button type="button" ng-click="funcMes(1);" class="btn btn-info glyphicon-plus"></button></td>
                                <td colspan="2"><button type="button"  ng-click="funcMes(-1);" class="btn btn-info glyphicon-minus"></button></td>
                            </tr>   
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
