
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 alert alert-warning">
                    <div class="col-md-6">
                        <span>Projetos:</span> &nbsp;&nbsp;
                        <button type="button" ng-click="importProj();" class="btn btn-info">Importar</button>
                        <button type="button" ng-click="deleteProj();" class="btn btn-info">Excluir</button>
                    </div>
                    <div class="col-md-6">
                        <span>Sistema:</span> &nbsp;&nbsp;
                        <button type="button" ng-click="importProj();" class="btn btn-info">Importar</button>
                        <button type="button" ng-click="deleteProj();" class="btn btn-info">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
