
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                   <h5 style="color:white;">Olá, {{user.nome}}<h5>
                </div>
                <div class="col-md-8">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a ui-sref="config" class="menu-top-active" ng-show="mostrar.config">Configuração</a></li>
                            <li><a ui-sref="projetos" ng-show="mostrar.cadastproj">Cadastro de Projetos</a></li>
                            <li><a ui-sref="alteraproj" ng-show="mostrar.alterproj">Alteração de Projetos</a></li>
                            <li><a ui-sref="relatorio">Relatório</a></li>
                            <li><a ui-sref="login" class="glyphicon glyphicon-log-out"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="notice-board">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <a ui-sref="fase">
                                            <span class="glyphicon glyphicon-cog text-danger" ></span> 
                                                Configurar Tabela de Fase
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="torre">
                                            <span class="glyphicon glyphicon-cog text-danger" ></span> 
                                                Configurar Tabela de Torre
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="subtorre">
                                            <span class="glyphicon glyphicon-cog text-danger" ></span>  
                                                Configurar Tabela de SubTorre
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="regiao">
                                            <span class="glyphicon glyphicon-cog text-danger" ></span> 
                                                Configurar Tabela de Regiao
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="sistema">
                                            <span class="glyphicon glyphicon-cog text-danger" ></span>  
                                                Configurar Tabela de Sistema
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="classgeral">
                                            <span class="glyphicon glyphicon-cog text-danger" ></span> 
                                                Configurar Tabela de Classificação Geral
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="limitebase">
                                            <span class="glyphicon glyphicon-cog text-danger" ></span>  
                                                Configurar Limite do Baseline
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="racional">
                                            <span class="glyphicon glyphicon-cog text-danger" ></span>  
                                                Configurar Racional
                                        </a>
                                    </li>
                                    <li>
                                        <a ui-sref="usuario">
                                            <span class="glyphicon glyphicon-pencil text-danger" ></span>  
                                                Configurar Usuário
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-danger">
                         <span type="text">{{message}}<b>{{message_mes}}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
