
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                   <h5 style="color:white;">Olá, {{user.nome}}<h5>
                </div>
                <div class="col-md-8">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a ui-sref="config" class="menu-top-active" ng-show="mostrar.config">Configuração</a></li>
                            <li><a ui-sref="projetos" ng-show="mostrar.cadastproj">Cadastro de Projetos</a></li>
                            <li><a ui-sref="alteraproj" ng-show="mostrar.alterproj">Alteração de Projetos</a></li>
                            <li><a ui-sref="relatorio">Relatório</a></li>
                            <li><a ui-sref="login" class="glyphicon glyphicon-log-out"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form>
                        <label>Família: </label>
                        <select ng-model="formsistema.familia" ng-options="val for val in selectOptionFamilia()" class="form-control"></select>
                        <br />
                        <label>Região:&nbsp; </label>
                        <select ng-model="formsistema.regiao" ng-options="val for val in selectOptionRegiao()" class="form-control"></select>
                        <br />
                        <label>Sistema: </label>
                        <input type="text" ng-model="formsistema.sistema" value="" class="form-control" />                        
                        <br />
                         <br />
                        <button type="button" ng-click="ValidaForm();" class="btn btn-info">Salvar</button>
                        <br />
                    </form>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-6">
                    <div>
                        <h3> Sistemas Cadastrados </h3>
                        <div>
                            <table class="table table-striped table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th>Região</th>
                                        <th>Família</th>
                                        <th>Descrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="id in tabelasis" ng-click="alteraSistema(id)">
                                        <td>{{id.regiao}}</td>
                                        <td>{{id.familia}}</td>
                                        <td>{{id.sistema}}</td>
                                        <td><button type="button" ng-click="deleteSistema(id);" class="btn btn-info glyphicon glyphicon-trash"></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
