
    <div class="content-wrapper" style="background-color:#4D4D4D">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Please Login To Enter </h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <form ng-submit="validaLogin('relatorio')">
                        <label class="login-text">Enter IBM ID : </label>
                        <input type="text" ng-model="usuario.nome" value="" class="form-control" />
                        <br />
                        <label class="login-text">Enter Baseline User Password :  </label>
                        <input type="password" ng-model="usuario.senha" value="" class="form-control" />
                        <hr />
                        <button type="submit" class="btn btn-info" value=""><span class="glyphicon glyphicon-user"></span> &nbsp;Sign In </button>&nbsp;
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-info">
                        <strong> Precauções e Avisos:</strong>
                        <ul>
                            <li>
                               Use somente em navegadores Firefox e Internet Explorer.<br />
                               Estamos resolvendo problemas sobre permissão HTTPS nos navegadores Chrome.
                               <b style="color:red;">Verificar se o problema foi solucionado.</b>
                            </li>
                            <li>
                               Incluída a tela de configuração de Torre.
                            </li>
                            <li>
                               Incluída a tela de configuração de SubTorre.
                            </li>
                            <li>
                               Incluída a tela de configuração de Usuário.
                            </li>
                            <li>
                               Incluída a tela de Cadastro de Projetos.
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>