    
    <div class="content-wrapper">
        <div class="container">
            <div class="row login-center">
                <div class="col-md-8 login-background" >
                    <div class="login-text">
                        <strong> AVISOS </strong>
                        <ul>
                            <li>
                               Use somente em navegadores Firefox e Internet Explorer.<br />
                               Estamos resolvendo problemas sobre permissão HTTPS nos navegadores Chrome.
                               <b style="color:red;">Verificar se o problema foi solucionado.</b>
                            </li>
                            <li>
                               Incluída a tela de configuração de Torre.
                            </li>
                            <li>
                               Incluída a tela de configuração de SubTorre.
                            </li>
                            <li>
                               Incluída a tela de configuração de Usuário.
                            </li>
                            <li>
                               Incluída a tela de Cadastro de Projetos.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 login-pag">
                    <img src="../img/logo_ibm_cinza.png" class="login-logo-ibm" />
                    <img src="../img/logo_oi_cinza.png" class="login-logo-oi" />
                    <br />
                    <span class="login-text-warn">Please login to enter</span>
                    <br />
                    <form ng-submit="validaLogin('relatorio')" class="login-form">
                        <input type="text" ng-model="usuario.nome" value="" class="form-control" placeholder="IBM id" />
                        <br />
                        <input type="password" ng-model="usuario.senha" value="" class="form-control" placeholder="Password" />
                        <br />
                        <button type="submit" class="btn btn-info form-control login-submit"> Sign In </button>
                    </form>
                </div>
            </div>
        </div>
    </div>