
    <div class="content-wrapper" style="background-color:#4D4D4D">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Please Login To Enter </h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                     <label class="login-text">Enter IBM ID : </label>
                        <input type="text" class="form-control" />
                        <br />
                        <label class="login-text">Enter Baseline User Password :  </label>
                        <input type="password" class="form-control" />
                        <hr />
                        <a ui-sref="blank" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;Sign In </a>&nbsp;
                </div>
                <div class="col-md-6">
                    <div class="alert alert-info">
                        This is a free bootstrap admin template with basic pages you need to craft your project. 
                        Use this template for free to use for personal and commercial use.
                        <br />
                        <strong> Instructions To Use:</strong>
                        <ul>
                            <li>
                               Lorem ipsum dolor sit amet ipsum dolor sit ame
                            </li>
                            <li>
                                 Aamet ipsum dolor sit ame
                            </li>
                            <li>
                               Lorem ipsum dolor sit amet ipsum dolor
                            </li>
                            <li>
                                 Cpsum dolor sit ame
                            </li>
                        </ul>
                       
                    </div>

                </div>

            </div>
        </div>
    </div>
