    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a ui-sref="config">Configuração</a></li>
                            <li><a ui-sref="projetos" class="menu-top-active">Cadastro de Projetos</a></li>
                            <li><a ui-sref="teste">Relatório</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div id="grafproj" style="min-width: 400px; height: 200px; margin: 1 auto"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <table class="table table-striped">
                            <tr>
                                <td><label>Proposta:</label></td>
                                <td> <input type="text" ng-model="formproj.proposta" value="" class="form-control col-md-3" /> </td>
                                <td><label>Gerente:</label></td>
                                <td> <input type="text" ng-model="formproj.gerente" value="" class="form-control" /> </td>
                                <td><label>Família:</label></td>
                                <td> <select ng-model="formproj.familia" class="form-control" ng-options="val for val in selectOptionFamilia() | orderBy:'toString()' "></select></td>                                
                            </tr>
                            <tr>
                                 <td><label>Sistema:</label></td>
                                <td> <select ng-model="formproj.sistema" class="form-control">
                                        <option ng-repeat="id in sistema.opcoes" value="{{id.nome}}">{{id.nome}}</option>
                                     </select> 
                                </td>
                                <td><label>Classificação Geral:</label></td>
                                <td> <select ng-model="formproj.classificacao_geral" class="form-control">
                                        <option ng-repeat="id in classificacao_geral.opcoes" value="{{id.nome}}">{{id.nome}}</option>
                                     </select> 
                                </td>
                                 <td><label>Fase:</label></td>
                                <td> <select ng-model="formproj.fase" class="form-control">
                                        <option ng-repeat="id in fase.opcoes" value="{{id.nome}}">{{id.nome}}</option>
                                     </select> 
                                </td>
                            </tr>
                            <tr>
                                <td><label>Mes/Ano:</label></td>
                                <td> <select ng-model="formproj.mes_ano" class="form-control">
                                        <option ng-repeat="id in perfil.opcoes" value="{{id.nome}}">{{id.nome}}</option>
                                     </select> 
                                </td>
                                <td><label>Valor Mes/Ano:</label></td>
                                <td> <input type="text" ng-model="formproj.gerente" value="" class="form-control" /> </td>
                                <td><button type="button" ng-click="ValidaForm();" class="btn">Salvar</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

