
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a ui-sref="config">Configuração</a></li>
                            <li><a ui-sref="projetos">Cadastro de Projetos</a></li>
                            <li><a class="menu-top-active" ui-sref="relatorio">Relatório</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div id="grafproj" style="min-width:310px; height:500px; margin-bottom:50px"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td> Projeto </td>
                                <td> Proposta </td>
                                <td> Classificação Geral </td>
                                <td> Família </td>
                                <td> Fase </td>
                                <td> Gerente </td>
                                <td> Mês Ano </td>
                                <td> Região </td>
                                <td> Sistema </td>
                                <td> Valor </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="id in projetos"> 
                                <td>{{id.projeto}}</td>
                                <td>{{id.proposta}}</td>
                                <td>{{id.classificacao_geral}}</td>
                                <td>{{id.familia}}</td>
                                <td>{{id.fase}}</td>
                                <td>{{id.gerente}}</td>
                                <td>{{id.mes_ano}}</td>
                                <td>{{id.regiao}}</td>
                                <td>{{id.sistema}}</td>
                                <td>{{id.valor_mes_ano}}</td>                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 
