
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a ui-sref="config">Configuração</a></li>
                            <li><a ui-sref="projetos">Cadastro de Projetos</a></li>
                            <li><a ui-sref="alteraproj">Alteração de Projetos</a></li>
                            <li><a class="menu-top-active" ui-sref="relatorio">Relatório</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div id="grafproj" style="min-width:310px; height:500px;"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Filtros:</h3>
                    <form>
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <label>Mês Inicio: &nbsp;</label>
                                    <select ng-model="formfiltro.mes_ano_inicio" class="form-control" ng-change="redesenharGraf();">
                                        <option ng-repeat="id in opcaodate" value="{{id}}">{{id}}</option>
                                    </select>
                                </td>
                                <td>
                                    <label>Quantidade de Meses: &nbsp;</label>
                                    <select ng-model="formfiltro.qnt_meses_pos" class="form-control" ng-change="redesenharGraf();">
                                        <option ng-repeat="id in opcaoqnt" value="{{id}}">{{id}}</option>
                                    </select>
                                </td>
                                <td>
                                    <label>Gerentes Responsáveis: &nbsp;</label>
                                    <select ng-model="formfiltro.ger_resp" class="form-control" ng-change="redesenharGraf();">
                                        <option ng-repeat="id in gerentes" value="{{id.login_user}}">{{id.login_user}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>                            
                    </form>
                </div>
            </div>
        </div>
    </div>
 
